<!DOCTYPE html>
<html lang="en">
<script tpye="javascript">
</script>

<head>
    <title>Admin_ACMG</title>
    <script type="text/javascript" src="{{url_for('static', filename='jslib/jquery-1.11.1.js')}}"></script>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            $("#close").click(function () {
                $("#blockmessage").css("display", "none");
            });
        });
        $(function () {
            $("#image").change(function () {
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#show').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(this.files[0]);
                }
            });
        });
    </script>
    <style>
        body {
            background-image: url(/static/background/index_bg.jpg);
            background-position: center center;
            background-size: cover;
            background-attachment: fixed;
        }

        .nav-item {
            border-right: 1px solid #a9a9ad;
            margin-right: 15;
            margin-left: 15;
        }

        .container {
            margin-top: 50px;
            padding-bottom: 2px;
            background-color: rgba(62, 63, 65, 0.89);
        }
    </style>
</head>

<body>
    <nav class=" navbar navbar-dark text-light" style="background-color: 	#30302c">
        <div class=" container-fluid-nav " style="display: flex ;justify-content: space-around;">

            <span class="text-white">
                <h2>Merchant Controller</h2>
            </span>
    </nav>
    <nav class="navbar navbar-expand-sm navbar-dark custom " style="background-color:rgba(78, 75, 75, 0.534);">
        <button type="button" data-toggle="collapse" data-taget="#navbarNav" class="navbar-toggler"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-dark navbar-toggler-icon "></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav mr-auto" id="">
                <li class="nav-item" style="padding-right: 10px;">
                    <a href="/MHP" class="nav-link align-middle px-0 text-white">
                        <i class="fa fa-home "></i> <span class="ms-1 d-none d-md-inline ">Home</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a href="" href="" data-bs-toggle="dropdown" class="nav-link dropdown-triggle text-white "
                    id="navbarDropdown3" role="button" aria-expanded="false">
                        <i class="	fa fa-files-o "><span class="ms-1 d-none d-sm-inline">Map
                                Management</span></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown3" style="background-color: #30302c8c;">
                        <li class="w-100">
                            <a href="/MPM_View" class="dropdown-item  text-white"> <span class="d-none d-sm-inline">View
                                    Map</span> </a>
                        </li>
                    
                    
                        <li class="w-100">
                            <a href="/MPM_Add" class="dropdown-item  text-white"> <span class="d-none d-sm-inline">Add
                                    Place</span> </a>
                        </li>
                    
                        <li class="w-100">
                            <a href="/MPM_MG" class="dropdown-item  text-white"> <span class="d-none d-sm-inline">Place
                                    Manager</span> </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a href="" data-bs-toggle="dropdown" class="nav-link dropdown-triggle text-white "
                    id="navbarDropdown2" role="button" aria-expanded="false">
                        <i class="	fa fa-files-o "><span class="ms-1 d-none d-sm-inline">Listing
                                Management</span></i>
                    </a>
                    <ul class="dropdown-menu bg-dark " aria-labelledby="navbarDropdown2">
                        <li class="w-100">
                            <a href="/MSDM_View" class="dropdown-item px-0 text-white"> <span class="d-none d-sm-inline">List
                                    Manager</span> </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="/logout" class="nav-link align-middle text-white">
                        <i class="fa fa-sign-out "></i> <span class="ms-1 d-none d-md-inline ">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container px-4 py-5 text-light" id="hanging-icons">
        <h2 class="pb-2 border-bottom text-light">Add the food into listing</h2>
            {% block content %}
                <div id="blockmessage">
                    {% for message in get_flashed_messages() %}
                    <div class="alert alert-warning">
                    {{message}}
                        <button type="button" id="close" data-dismiss="alert"> &times;</button>
                </div>
                {% endfor %}
                {% block page_content %}{% endblock %}
                </div>
            {% endblock %}
    
    <div class="container text-light">
        <form action="/merchant_add_food" method="POST" enctype="multipart/form-data">
            <h3>Step 1 : Set the food name : </h3>
            <div class="col-sm">
                <input type="text" class="form-control" name="foodName" placeholder="Type your food name" />
            </div>
            <br />
            <h3>Step 2 : Set the food image : </h3>
            <div class="col-sm">
                <input type="file" class="form-control" id="image" name="image" placeholder="Type your food image" />
                <img id="show" src="http://100dayscss.com/codepen/upload.svg" alt="" style="background: #ddd;width: 25%;height: 25%; display: block;" />
            </div>
            <br />
            <h3>Step 3 : Set the food description : </h3>
            <div class="col-sm">
                <input type="text" class="form-control" name="foodDesc" placeholder="Type your food description" />
            </div>
            <br />
            <h3>Step 4 : Set the food price : </h3>
            <div class="col-sm">
                <input type="text" class="form-control" name="foodPrice" placeholder="Type your food price" />
            </div>
            <br />
            <div class="row text-center">
                <div class="col-sm">
                    <button type="submit" class="btn btn-primary" id="submitButton">Submit</button>
                </div>
                <div class="col-sm">
                    <button type="reset" class="btn btn-danger" id="resetButton">Reset</button>
                </div>
            </div>
    </div>
    </form>


    </div>
</div>
</body>

</html>